

<section>
    <div class="row">
        <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Admin Login</h2>

<form action="/admin/admin-login" method="post">
{{#if loggedInErr}}
  <p class="error">invalid username or password</p>
{{/if}}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="Password" placeholder="Password">
  </div>
  <a href="/signup">create new Account ?</a>
  
  <button type="submit" class="btn btn-primary float-right">login</button>
</form>
</div>
</div>
</div>
</section>